li {
    list-style: none;
    padding-left: 2px;
}


.modal-content {
    width: auto;
    margin: 0;
    background-color: #3f3d56;
    color: white;
}

.modal-body {
    display: flex;
}

.testsss {
    box-sizing: border-box;
    width: 100%;
  }
  
  .testsss li {
    float: left;
    padding: 5px;
  }
