<div class="navbar">
    <div class="logo">
        <img src="https://i.ibb.co/vhSC8zq/sketch1688669106241.png" width="200px" height="40px" id=logo alt="Logo image" />

    </div>
    <div class="menu">
        <li><Button Color="ButtonColor.Primary" Size="Size.Small" >About Us</Button></li>
        <li><Button Color="ButtonColor.Primary" Size="Size.Small" >Contact Us</Button></li>
    </div>

</div>