@page "/"
@layout NoMenuLayout
@inject NavigationManager NavManager
@using CodeCrateData
@inject UserAccountService _userAccountService

<PageTitle>Login</PageTitle>



<body style="background-color: #F5F5F4;">
    <section class="vh-100">
        <div class="container py-5 h-100">
            <div class="row d-flex align-items-center justify-content-center h-100">
            <div class="col-md-8 col-lg-7 col-xl-6">
                <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.svg"
                class="img-fluid" alt="Phone image">
            </div>
            
            <div class="col-md-7 col-lg-5 col-xl-5 offset-xl-1 ">
                <h1 style="text-align:left; padding-bottom: 50px;">Code Crate</h1>
                <EditForm Model="@userAccount">
                
                  
                    <div class="form-outline mb-4">
                        
                        <InputText class="form-control" style = "width:500px;border:1px solid;" @bind-Value="userAccount.Username"/>
                        <label class="form-label" for="form1Example13">Username</label>
                    </div>

                    <div class="form-outline mb-4">
                        
                        <InputText type="password" class="form-control" style = "width:500px;border:1px solid;" @bind-Value="userAccount.Password"/>
                        <label class="form-label" for="form1Example23">Password</label>
                    </div>

      

                <div class="d-flex justify-content-around align-items-center mb-4">
                    <!-- Checkbox -->
                    <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="form1Example3" checked />
                    <label class="form-check-label" for="form1Example3"> Remember me </label>
                    </div>
                    <a href="#!">Forgot password?</a>
                </div>

                <!-- Submit button -->
                <Button Color="ButtonColor.Primary" Size="Size.Large" @onclick="checkUser">Sign In</Button>
                <Button Color="ButtonColor.Primary" Size="Size.Large" @onclick="RegisterBtn">Register</Button>
                </EditForm>
            </div>
            </div>
        </div>
    </section>
</body>



@code {

    protected UserAccount userAccount = new();


    protected override async Task OnInitializedAsync() { 
        await _userAccountService.GetUserAccounts();
    }
    private async Task checkUser() {
        if (userAccount.Username != "" && userAccount.Password != "") {
            var _userAccount = await _userAccountService.GetCurrentAccount(userAccount);
            if (_userAccount.UserID != 0) {
                NavManager.NavigateTo($"/MainDashboard/{_userAccount.UserID}");
            }
            
        }
    }

    private void RegisterBtn() {
        NavManager.NavigateTo("/RegisterPage");
    }
    



}