/* Fix height and enable scrolling */
.grid {
    height: 16.5rem;
    overflow-y: auto;
    margin: auto;
    width: 85%;
    border: 3px solid black;
    padding: 10px;
}

/* Sticky header while scrolling */
::deep thead {
    position: sticky;
    top: 0;
    background-color: #eee;
}

/* Subtle stripe effect */
::deep tr:nth-child(even) {
    background: rgba(255,255,255,0.4);
}
::deep table { min-width: 100%; }