@page "/RegisterPage"
@layout NoMenuLayout
<h1>REGISTER</h1>


<div class="col-md-7 col-lg-5 col-xl-5 offset-xl-1">
    <h1 style="text-align:center;">Register Account</h1>
        <form>
            <div class="form-outline mb-4">
                <input type="email" id="form1Example13" class="form-control form-control-lg" />
                <label class="form-label" for="form1Example13">Username</label>
            </div>
            <div class="form-outline mb-4">
                <input type="password" id="form1Example23" class="form-control form-control-lg" />
                <label class="form-label" for="form1Example23">Password</label>
            </div>
            <div class="form-outline mb-4">
                <input type="password" id="form1Example23" class="form-control form-control-lg" />
                <label class="form-label" for="form1Example23">Email</label>
            </div>
        </form>
</div>

<a class="btn btn-primary btn-lg btn-block" style="background-color: #3b5998" href="/MainDashboard" role="button">Register Account</a>

<a class="btn btn-primary btn-lg btn-block" style="background-color: #3b5998" href="/" role="button">Cancel</a>