@page "/RegisterPage"
@layout NoMenuLayout
<h1>REGISTER</h1>

<a class="btn btn-primary btn-lg btn-block" style="background-color: #3b5998" href="/MainDashboard" role="button">Register Account</a>

<a class="btn btn-primary btn-lg btn-block" style="background-color: #3b5998" href="/" role="button">Cancel</a>