@using CodeCrateData
@inject NavigationManager NavManager

<body>
  <nav class="navbar">
    <!-- LOGO -->
    <div class="containerTest">
      <img src="https://i.ibb.co/vhSC8zq/sketch1688669106241.png" width="200px" height="40px" id=logo alt="Logo image" />
    </div>
    <!-- NAVIGATION MENU -->
    <ul class="nav-links">

      <!-- USING CHECKBOX HACK -->
      <input type="checkbox" id="checkbox_toggle" />
      <label for="checkbox_toggle" class="hamburger">&#9776;</label>

      <!-- NAVIGATION MENUS -->
      <div class="menu">

        <li><Button Color="ButtonColor.Primary" Size="Size.Small" @onclick="SignOutBtn">Options</Button></li>
        <li><Button Color="ButtonColor.Primary" Size="Size.Small" @onclick="SignOutBtn">Sign Out</Button></li>
      </div>
    </ul>
  </nav>
</body>



@code {

    public void SignOutBtn() {
        NavManager.NavigateTo("/");
    }

}