@using CodeCrateData
@inject NavigationManager NavManager
@inject Microsoft.JSInterop.IJSRuntime jsInterop
@inject ActiveLogService _activeLogService

<body>
  <nav class="navbar">
    <!-- LOGO -->
    <div class="containerTest">
      <img src="https://i.ibb.co/vhSC8zq/sketch1688669106241.png" width="200px" height="40px" id=logo alt="Logo image" />
    </div>
    <!-- NAVIGATION MENU -->
    <ul class="nav-links">

      <!-- USING CHECKBOX HACK -->
      <input type="checkbox" id="checkbox_toggle" />
      <label for="checkbox_toggle" class="hamburger">&#9776;</label>

      <!-- NAVIGATION MENUS -->
      <div class="menu">

        <li><Button Color="ButtonColor.Primary" Size="Size.Small" @onclick="SignOutBtn">Options</Button></li>
        
        @if(showLoadingButton) {
            <li><Button Color="ButtonColor.Primary" Size="Size.Small" Loading="true" LoadingText="Signing Out..." /></li>
        }
        else {
          <li><Button Color="ButtonColor.Primary" Size="Size.Small" @onclick="SignOutBtn">Sign Out</Button></li>

        }

      </div>
      
    </ul>
  </nav>
</body>



@code {

    [Parameter] public UserAccount _userAccount { get; set; } = null!;

    protected bool showLoadingButton = false;


    // This button will call a script that clears out the user's browsing cache in order to create a
    // official sign-out.
    public async void SignOutBtn() {
        showLoadingButton = true;
        await Task.Delay(1000);
        await _activeLogService.accountLog(_userAccount, "User sign out");
        await jsInterop.InvokeVoidAsync("signOut");
        
    }

}