  
  .footer {
    position: relative;
    width: 100%;
    background: #3f3d56;
    min-height: 100px;
    padding: 20px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 3px solid #1266f1;
  }

.footer p {
    color: #fff;
    margin: 15px 0 10px 0;
    font-size: 1rem;
    font-weight: 300;
    text-align: center;
  }