

<footer class="footer">
    <div class="menu">
       <!-- 
        <li><Button Type= "ButtonType.Link" Color= "ButtonColor.Primary" Size="Size.Small" >About Us</Button></li>
        <li><Button Type="ButtonType.Link" Color= "ButtonColor.Primary" Size="Size.Small" >Contact Us</Button></li>
        -->
    </div>
    <p>Powered by <img src="https://i.ibb.co/yhB5Dw5/newLogo.png" width="145px" height="43px" id=logo alt="Logo image" /> Copyright &copy; 2023</p>
    
</footer>

