@using CodeCrateData
@inject UserAccountService _userAccountService
@inject NavigationManager NavManager

<body>
  <nav class="navbar">
    <!-- LOGO -->
    <div class="logo">Code Crate</div>
    <div class="greeting"> Welcome, @_userAccount.Username!</div>
    <!-- NAVIGATION MENU -->
    <ul class="nav-links">

      <!-- USING CHECKBOX HACK -->
      <input type="checkbox" id="checkbox_toggle" />
      <label for="checkbox_toggle" class="hamburger">&#9776;</label>

      <!-- NAVIGATION MENUS -->
      <div class="menu">

        <li><Button Color="ButtonColor.Primary" Size="Size.Small" @onclick="SignOutBtn">Options</Button></li>
        <li><Button Color="ButtonColor.Primary" Size="Size.Small" @onclick="SignOutBtn">Sign Out</Button></li>
      </div>
    </ul>
  </nav>
</body>



@code {
    [Parameter] public UserAccount _userAccount { get; set; } = null!;
    

    public void SignOutBtn() {
        NavManager.NavigateTo("/");
    }

}