<nav class="navbar">
    <div><img src="https://i.ibb.co/RSLJpZD/sketch1688603951570.png" width="80px" height="80px" id=logo alt="Logo image" style="margin-left: 10px;" /></div>

    <div class="menu">
        <li><Button Color="ButtonColor.Primary" Size="Size.Small" >About Us</Button></li>
        <li><Button Color="ButtonColor.Primary" Size="Size.Small" >Contact Us</Button></li>
    </div>

</nav>