<nav class="navbar">
    <div class="logo">Data Forge LLC.</div>

    <div class="menu">
        <li><Button Color="ButtonColor.Primary" Size="Size.Small" >About Us</Button></li>
        <li><Button Color="ButtonColor.Primary" Size="Size.Small" >Contact Us</Button></li>
    </div>

</nav>