<div class="navbar">
    <div class="logo">
        <img src="https://i.ibb.co/r47zGQb/Logo-With-Color.png" width="180px" height="30px" id=logo alt="Logo image" />
    </div>

    <div class="menu">
        <li><Button Color="ButtonColor.Primary" Size="Size.Small" >About Us</Button></li>
        <li><Button Color="ButtonColor.Primary" Size="Size.Small" >Contact Us</Button></li>
    </div>

</div>