<nav class="navbar">
    <div><img src="https://i.ibb.co/QQPtDC0/logo.png" width="190px" height="90px" id=logo alt="Logo image" style="margin-left: 10px;" /></div>

    <div class="menu">
        <li><Button Color="ButtonColor.Primary" Size="Size.Medium" >About Us</Button></li>
        <li><Button Color="ButtonColor.Primary" Size="Size.Medium" >Contact Us</Button></li>
    </div>

</nav>