li {
  list-style: none;
}

.navbar {
    
    align-items: bottom;
    padding: 0px;
    background-color: #3f3d56;
    color: #fff;
    border-bottom: 3px solid #1266f1;
  }

.logo {
    padding-left: 10px;
    padding-bottom: 10px;
    padding-top: 10px;
}
  
.menu {
    display: flex;
    padding-right: 15px;
    padding-left: 10px;
    font-size: 18px;
}
.menu li {
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
}