@page "/register"


<h1>REGISTER PAGE</h1>


<a class="btn btn-primary btn-lg btn-block" style="background-color: #3b5998" href="dashboard" role="button">Register</a>
<a class="btn btn-primary btn-lg btn-block" style="background-color: #3b5998" href="/" role="button">Cancel</a>